@()

@main("Play Practice") {
  <h1 id="heading">Welcome! Please press the button below.</h1>
  <div>
  <button onclick="buttonpress()">Click Here</button>
  </div>
  <input type="text" id="textbox" style="position: relative; top: 25px"></input>
  <button onclick="input()" style="position: relative; top: 25px">Click Here to input</button>
  <div id="txt" style="position: relative; top: 50px"></div>
  <button onclick="left()" id="left" style="position: relative; top: 75px; font-size: 15px">&#8617</button>
  <button onclick="right()" id="right" style="position: relative; top: 75px; left: 203px; font-size: 15px">&#8618</button>
}
